/* Flex Continer => Parent */
ul {
  background-color: lightslategray;
  padding: 20px;
  /* height: 300px; */ /* added for flex wrap of columns */

  /* display: inline-flex; */ /* it acts as though it is inline, but for a flex container */

  /* Flex Container Properties */
  display: flex;

  /* align-items: flex-start; */

  /* flex-direction: column; */
}

/* Flex Items => Children */
li {
  list-style: none;
  color: white;
  background-color: #20b2aa;
  margin: 10px;
  padding: 10px;
}

/* Flex Items Properties => Children */

/*-*-*-*-*-*-*-*-*-*-----(1)ORDER-----*-*-*-*-*-*-*-*-*-*/

/* Order (Default = 0) (Value => a +ve or -ve number, values are located on the main-axis which is horizontal (default) if the flex direction is row (default). If the flex direction is column then the main axis becomes vertical) */

/* When The Flex Direction is Row/Column */
/* +ve values */
/* li:nth-child(3) {
  order: 1;
}

li:nth-child(1) {
  order: 3;
}

li:nth-child(6) {
  order: 2;
}

li:nth-child(5) {
  order: 5;
} */

/* -ve values */
/* li:nth-child(8) {
  order: -1;
}

li:nth-child(2) {
  order: -2;
} */

/*-*-*-*-*-*-*-*-*-*-----(2)FLEX GROW-----*-*-*-*-*-*-*-*-*-*/
/* Flex Grow (Default => 0 => OFF)  */
/* li:first-child {
  flex-grow: 1;
} */

/* li:nth-child(3) {
  flex-grow: 3;
} */

/* li:nth-child(3) {
  flex-grow: 1;
} */

/*-*-*-*-*-*-*-*-*-*-----(3)FLEX SHRINK-----*-*-*-*-*-*-*-*-*-*/
/* Flex Shrink (Default => 1 => ON) */
/* li:first-child {
  flex-shrink: 0;
} */

/*-*-*-*-*-*-*-*-*-*-----(4)FLEX BASIS-----*-*-*-*-*-*-*-*-*-*/
/* Flex basis (Default => Auto) */
/* li:first-child {
  flex-basis: 25rem;
} */

/*-*-*-*-*-*-*-*-*-*-----(5)FLEX SHORTHAND-----*-*-*-*-*-*-*-*-*-*/
/* Flex Shorthand (flex-grow flex-shrink flex-basis) */
/* li:first-child {
  flex: 1 0 20rem;
} */
