/* Flex Continer => Parent */
ul {
  background-color: lightslategray;
  padding: 20px;

  /* display: inline-flex; */ /* it acts as though it is inline, but for a flex container */

  /* Flex Container Properties */
  display: flex;

  /*-*-*-*-*-*-*-*-*-*-----(1)FLEX DIRECTION-----*-*-*-*-*-*-*-*-*-*/

  /* 1.1 */
  /* Row (Default) */
  /* flex-direction: row; */

  /* 1.2 */
  /* Row Reverse (Default Reverse) */
  /* flex-direction: row-reverse; */

  /* 1.3 */
  /* Column */
  /* flex-direction: column; */

  /* 1.4 */
  /* Column Reverse */
  /* flex-direction: column-reverse; */

  /*-*-*-*-*-*-*-*-*-*-----(2)FLEX WRAP-----*-*-*-*-*-*-*-*-*-*/

  /* 2.1 */
  /* Nowrap (Default) */
  /* flex-wrap: nowrap; */

  /* 2.2 */
  /* Wrap */
  /* flex-wrap: wrap; */

  /* 2.3 */
  /* Wrap Reverse */
  /* flex-wrap: wrap-reverse; */

}

/* Flex Items => Children */
li {
  /* display: inline-block; */
  list-style: none;
  color: white;
  background-color: #20b2aa;
  margin: 20px;
  padding: 10px;
  width: 100px;
  font-size: 20px;
  text-align: center;
}
