/* Flex Continer => Parent */
ul {
  background-color: lightslategray;
  padding: 20px;
  /* height: 300px; */ /* added for flex flow of columns */

  /* display: inline-flex; */ /* it acts as though it is inline, but for a flex container */

  /* Flex Container Properties */
  display: flex;

  /*-*-*-*-*-*-*-*-*-*-----(1)FLEX DIRECTION-----*-*-*-*-*-*-*-*-*-*/

  /* 1.1 */
  /* Row (Default) */
  /* flex-direction: row; */

  /* 1.2 */
  /* Row Reverse (Default Reverse) */
  /* flex-direction: row-reverse; */

  /* 1.3 */
  /* Column */
  /* flex-direction: column; */

  /* 1.4 */
  /* Column Reverse */
  /* flex-direction: column-reverse; */

  /*-*-*-*-*-*-*-*-*-*-----(2)FLEX WRAP-----*-*-*-*-*-*-*-*-*-*/

  /* 2.1 */
  /* Nowrap (Default) */
  /* flex-wrap: nowrap; */

  /* 2.2 */
  /* Wrap */
  /* flex-wrap: wrap; */

  /* 2.3 */
  /* Wrap Reverse */
  /* flex-wrap: wrap-reverse; */

  /*-*-*-*-*-*-*-*-*-*-----(3)FLEX FLOW-----*-*-*-*-*-*-*-*-*-*/

  /* 3.1 */
  /* Row (Direction) Wrap (Wrap) */
  /* flex-flow: row wrap; */

  /* 3.2 */
  /* Column Wrap */
  /* flex-flow: column wrap; */

  /* 3.3 */
  /* Row-reverse wrap */
  /* flex-flow: row-reverse wrap; */

  /* 3.4 */
  /* Column-reverse wrap */
  /* flex-flow: column-reverse wrap; */

  /* 3.5 */
  /* Row noWrap */
  /* flex-flow: row nowrap; */

  /* 3.6 */
  /* Row-Reverse noWrap */
  /* flex-flow: row-reverse nowrap; */

  /* 3.7 */
  /* Column noWrap */
  /* flex-flow: column noWrap; */

  /* 3.8 */
  /* Column-Reverse noWrap */
  /* flex-flow: column-reverse nowrap; */

  /*-*-*-*-*-*-*-*-*-*-----(4)JUSTIFY CONTENT-----*-*-*-*-*-*-*-*-*-*/

  /* Default Direction => Row => Main Axis => Horizontal */

  /* 4.1 */
  /* Flex Start (Default) */
  /* justify-content: flex-start; */

  /* 4.2 */
  /* Flex End */
  /* justify-content: flex-end; */

  /* 4.3 */
  /* Center */
  /* justify-content: center; */

  /* 4.4 */
  /* Space Between */
  /* justify-content: space-between; */

  /* 4.5 */
  /* Space Around */
  /* justify-content: space-around; */

  /* 4.6 */
  /* Space Evenly */
  /* justify-content: space-evenly; */
}

/* Flex Items => Children */
li {
  /* display: inline-block; */
  list-style: none;
  color: white;
  background-color: #20b2aa;
  margin: 20px;
  padding: 10px;
  width: 100px;
  font-size: 20px;
  text-align: center;
}
